
profiles {
    docker {
        process.container = 'twokims/infercnv-x'
        docker.enabled = true
        docker.runOptions = '--privileged -v $HOME/cwru-miller-b43b17c489af.json:/root/service-account-key.json'
    }
    google {
        workDir="gs://millerlab-bucket/hyunmin/gcs"
        process.container = 'twokims/infercnv-x'
        docker.runOptions = '--privileged -v $HOME/cwru-miller-b43b17c489af.json:/root/service-account-key.json'
        process.runOptions = '--privileged -v $HOME/cwru-miller-b43b17c489af.json:/root/service-account-key.json'
        process.executor = 'google-batch'
        google.project = 'cwru-miller'         
        google.batch.spot = true
        google.location = 'us-east1'
        google.authEnv = ['GOOGLE_APPLICATION_CREDENTIALS=/root/service-account-key.json']
    }
}
